<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round %><br>
    <%= f.number_field :round %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :home_team_id %><br>
    <%= f.number_field :home_team_id %>
  </div>
  <div class="field">
    <%= f.label :away_team_id %><br>
    <%= f.number_field :away_team_id %>
  </div>
  <div class="field">
    <%= f.label :home_score %><br>
    <%= f.number_field :home_score %>
  </div>
  <div class="field">
    <%= f.label :away_score %><br>
    <%= f.number_field :away_score %>
  </div>
  <div class="field">
    <%= f.label :score_disparity %><br>
    <%= f.number_field :score_disparity %>
  </div>
  <div class="field">
    <%= f.label :home_game_points %><br>
    <%= f.number_field :home_game_points %>
  </div>
  <div class="field">
    <%= f.label :away_game_points %><br>
    <%= f.number_field :away_game_points %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.number_field :venue_id %>
  </div>
  <div class="field">
    <%= f.label :bye_id %><br>
    <%= f.number_field :bye_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
