<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Round</th>
      <th>Date</th>
      <th>Home team</th>
      <th>Away team</th>
      <th>Home score</th>
      <th>Away score</th>
      <th>Score disparity</th>
      <th>Home game points</th>
      <th>Away game points</th>
      <th>Venue</th>
      <th>Bye</th>
      <th>Year</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.round %></td>
        <td><%= game.date %></td>
        <td><%= game.home_team_id %></td>
        <td><%= game.away_team_id %></td>
        <td><%= game.home_score %></td>
        <td><%= game.away_score %></td>
        <td><%= game.score_disparity %></td>
        <td><%= game.home_game_points %></td>
        <td><%= game.away_game_points %></td>
        <td><%= game.venue_id %></td>
        <td><%= game.bye_id %></td>
        <td><%= game.year %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
